.topBanner#contacto{
	height: 553px;
	background-image: url(../img/contacto/contactoTopBg.jpg);
}
.tituloBanner{
	height: 533px;
}
h1{
	margin-top: 20px;
	text-align: center;
	font-size: 100px;
	color: white;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
h2{
	margin-top: 40px;
	font-weight: 200;
	font-size: 60px;
	text-align: center;
	color: #ffc7c7;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.zonaDatosC{
	width: 100%;
	overflow: hidden;
	margin-top: 50px;
}
.cluster{
	float: left;
	margin-top: 30px;
	width: 50%;
	min-width: 427px;
	overflow: hidden;
	font-size: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
}
.cluster .icono{
	display: inline-block;
	width: 61px;
	margin-right: 5%;
}
.cluster .dato{
	vertical-align: top;
	display: inline-block;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.zona{
	float: left;
	width: 50%;
	/*height: 400px;*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	color: #710606;
}
.txt{
	font-size: 25px;
	text-align: justify;
	width: 90%;
	margin: 30px auto;
	color: rgb(79, 79, 79);
}

/*formulario*/
#formZone{
	width: 90%;
	margin:0 auto;
	font-size: 18px;
}
label{
	display: block;
	text-transform: uppercase;
	margin-top: 10px;
}
.input{
	width: 100%;
	padding: 5px 8px;
	font-size: 18px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	/*border: 2px solid rgb(222, 30, 36);*/
	/*background: rgb(222, 30, 36);*/
	/*color: white*/
}
#radioZone input{
	margin: 0 2px 0 0px;
}
.medioInput{
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.tresCuartosIn{
	width: 65%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.unCuartoIn{
	width: 35%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
}
.rigthPadd{
	padding-right: 2%;
}
#submitBtn{
	width: 130px;
	height: 40px;
	font-size: 20px;
	margin: 10px auto;
	display: block;
	background: rgb(246, 167, 62);
	color: white;
	font-weight: 800;
	cursor: pointer;
}
#visitanosTxt{
	font-size: 40px;
	font-weight: 200;
}
#visitanosTxt{
	text-align: center;
	margin: 15px 0 ;
}
#map{
	width: 90%;
	height: 300px;
	margin:0 auto;
}
#map iframe{
	height: 100%;
}
.zona.mapa{
	border-right: 15px solid #710606;
	border-left: 1px solid gray;
	border-radius: 0 15px 15px 0;
	margin-top: 83px;
	box-shadow: 4px 0 8px rgba(0,0,0,0.5);
	padding-bottom: 20px;
}

#direccion{
	font-size: 20px;
	font-weight: 400;
	text-align: center;
	margin-top: 15px;
	color: rgb(79, 79, 79);
}
@media screen and (max-width: 1023px) {
	.zona{
		width: 100%;
	}
	.zona.mapa{
		width: 90%;
		margin: 18px auto;
		border-bottom: 15px solid #710606;
		border-right: none;
		border-left: none;
		border-top: 1px solid gray;
		border-radius: 0 0 15px 15px;
		box-shadow: 0px 4px 8px rgba(0,0,0,0.5);
		padding-bottom: 20px;
		clear: both;
		float: none;
	}
	
}
@media screen and (max-width: 480px){
	h1{
		margin-top: 30px;
		text-align: center;
		font-size: 60px;
		color: white;
		text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
	}
	h2{
		margin-top: 90px;
		font-weight: 200;
		font-size: 40px;
		text-align: center;
		color: #ffc7c7;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
	}
	.cluster{
		float: none;
		width: 91%;
		margin: 0 auto;
		font-size: 22px;
		min-width: 0px;
		margin-bottom: 35px;
	}
	.cluster .icono{
		display: none;
	}
	#formZone{
		font-size: 16px;
	}
	.txt{
		font-size: 20px;
	}
	#direccion{
		font-size: 16px;
	}
	.zona.mapa{
		width: 95%;
	}
	#mapa{
		width: 95%;
	}
}